@font-face {
    font-family: avenir_next;
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: avenir_next;
    font-weight: 600;
    font-style: demi;
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
}

@font-face {
    font-family: avenir_next;
    font-weight: 700;
    font-style: bold;
    src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format("opentype");
}
