@mixin tablet{
    @media (min-width: $tablet-breakpoint){
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop-breakpoint){
        @content;
    }
}

@mixin m-h1{
    font-size: 24px;
    font-family: avenir_next;
    font-weight: bold;
    margin: 0;
}