@font-face {
    font-family: 'AvenirNext LT Pro';
    src: url(/sprint-two/assets/fonts/AvenirNextLTPro-Regular.woff2) format('woff2'),
    url(/sprint-two/assets/fonts/AvenirNextLTPro-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirNext LT Pro-Demi';
    src: url(/sprint-two/assets/fonts/AvenirNextLTPro-Bold.woff2) format('woff2'),
    url(/sprint-two/assets/fonts/AvenirNextLTPro-Bold.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'AvenirNext LT Pro-Bold';
    src: url(/sprint-two/assets/fonts/AvenirNextLTPro-Bold.woff2) format('woff2'),
    url(/sprint-two/assets/fonts/AvenirNextLTPro-Bold.woff) format('woff');
    font-weight: normal;
    font-style: bold;
}