@import "./partials/variables", "./partials/fonts", "./partials/mixins", "./partials/footer";


// body {
//   width: 360px;
// }
.nav {
  background-color: $bandsite-black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0;
  @include tablet {
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2rem;
    height: 6.75rem;
  }
  @include desktop {
    padding-left: 7rem;
    height: 7.25rem;
    padding-top: 0rem;
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include desktop {
      padding-bottom: 1.5rem;
    }
  }

  &__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-left: 0;
    margin: 0;
    list-style: none;
    @include tablet {
      justify-content: flex-start;
      width: auto;
    }
  }

  &__links {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    padding-bottom: 0.5rem;
    @include m-h2();
    @include tablet {
      margin-left: 4rem;
      margin-top: 1.75rem;
    }

    &--active {
      border-bottom: 0.2rem solid #fff;

      @include tablet {
        border-bottom: 0.8rem solid #fff;
        padding-bottom: 1.5rem;
      }

      @include desktop {
        border-bottom: 0.9rem solid #fff;
        padding-bottom: 2rem;
      }
    }

    &--inactive {
      color: $silver;
      font-weight: normal;
      @include tablet {
        color: $silver;
      }
      @include desktop {
        color: $silver;
      }
    }
  }
}

.hero {
  background: url(../assets/images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  min-height: 18rem;
  position: relative;
  margin-top: -1.35rem; //fixing mysterious bug
  @include tablet {
    min-height: 26rem;
    position: relative;
    background-position: 50% 100%;
  }
  @include desktop {
    min-height: 41rem;
    background-position: 50% 25%;
  }

  &__text {
    @include m-h1();
    font-size: 2rem;
    font-weight: 600;
    position: relative;
    top: 6.5rem;
    padding-left: 2rem;
    padding-top: 1rem;
    color: white;
    @include tablet {
      @include td-h1;
      font-weight: 600;
      padding-left: 2.5rem;
      padding-top: 5rem;
    }
    @include desktop {
      position: relative;
      top: 13.2rem;
      left: 5.7rem;
    }
  }

  &__opacity {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.main {
  padding-left: 1rem;
  padding-right: 1rem;

  &__title {
    @include m-h1;
    font-size: 1.5rem;
    color: $bandsite-black;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-weight: bolder;
    @include tablet {
      @include td-h2;
      padding-left: 2.25rem;
      padding-top: 3rem;
      padding-bottom: 2.25rem;
    }
  }

  &__image {
    display: flex;
    flex-direction: column;
    object-fit: cover;
    @include tablet {
      padding-right: 5rem;
      padding-left: 5rem;
    }
    @include desktop {
      padding-right: 7.5rem;
      padding-left: 7.5rem;
    }
  }

  &__image-crop {
    height: 11rem;
    object-fit: cover;
    object-position: 0 100%;
    @include tablet {
      height: 18rem;
      object-fit: cover;
      object-position: 0 70%;
    }
    @include desktop {
      height: 35rem;
    }
  }

  &__quote {
    @include m-h2;
    font-weight: bolder;
    line-height: 1.1em;
    color: $bandsite-black;
    margin-bottom: 0rem;
    line-height: 1.25rem;
    @include tablet {
      @include td-h3;
      font-weight: 600;
      padding-top: 2rem;
      padding-right: 5rem;
      padding-left: 5rem;
      word-spacing: 5px;
      margin-bottom: 0rem;
    }
    @include desktop {
      @include td-h3;
      padding-top: 2.5rem;
      padding-right: 16.75rem;
      padding-left: 8.5rem;
      margin-right: 0;
      font-weight: bold;
    }
  }

  &__title-spacing {
    @include m-h2;
    font-weight: bold;
    color: $bandsite-black;
    padding-top: 0.5rem;
    padding-right: 1rem;
    margin-top: 0rem;
    @include tablet {
      padding-left: 5rem;
      padding-top: 1rem;
      @include td-p;
      font-weight: 650;
    }
    @include desktop {
      @include td-p;
      font-size: 0.9rem;
      padding-top: 1rem;
      padding-left: 8.5rem;
      font-weight: bold;
    }
  }

  &__band-name {
    padding-top: 1rem;
    @include tablet {
      @include td-h3;
      font-weight: 625;
      padding-left: 5rem;
      padding-top: 3.5rem;
      padding-bottom: 2rem;
    }
    @include desktop {
      padding-left: 8.5rem;
      padding-top: 3.5rem;
    }
  }

  &__article {
    @include m-p;
    @include tablet {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
  &__article-spacing-left {
    margin-right: 1rem;
    @include tablet {
      @include td-p;
      max-width: 50%;
      padding-left: 5rem;
      padding-right: 1rem;
      margin: 0;
    }
    @include desktop {
      @include td-p;
      display: inline-block;
      max-width: 50%;
      padding-left: 8.5rem;
      padding-right: 3.5rem;
      margin: 0;
    }
  }

  &__article-spacing-right {
    margin-right: 1rem;
    @include tablet {
      @include td-p;
      max-width: 50%;
      padding-left: 1rem;
      padding-right: 5rem;
    }
    @include desktop {
      padding-right: 12rem;
    }
  }
}

.gallery {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  @include tablet {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding-bottom: 2rem;
  }
  @include desktop {
    margin-right: 2.5rem;
    margin-left: 2.5rem;
  }

  &__title {
    padding-top: 2rem;
    @include m-h1();
    color: $bandsite-black;
    padding-left: 1rem;
    @include tablet {
      @include td-h2;
      font-weight: 600;
      padding-top: 5rem;
      padding-left: 2rem;
      padding-bottom: 1rem;
    }
    @include desktop {
      @include td-h2;
      padding-left: 5.5rem;
      padding-bottom: 2rem;
    }
  }

  &__spacing {
    margin-bottom: 1rem;
    @include tablet {
      width: 30%;
    }
  }
}

.comment-section-title{
  font-size: 1.75rem;
  font-weight: bold;
  color: $bandsite-black;
  padding-left: 1rem;
  @include tablet {
    padding-left: 2rem;
  }
  @include desktop {
    font-size: 2.5rem;
    padding-left: 5rem;
  }
}

.comment-section{
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;

  &__comments{
    display: flex;
    justify-content: space-between;
    @include tablet {
      padding-right: 5rem;
      padding-left: 5rem;
    }
    @include desktop {
      padding-right: 20rem;
      padding-left: 20em;
    }
  }

  &__icon{
    display: inline-block;
    position: relative;
    overflow: hidden;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }

  &__profile-picture{
    display: inline-block;
    position: relative;
    height: 4rem;
    right: 0.8rem;
    bottom: 0.5rem;
  }

  &__form{
    display: flex;
    flex-direction: column;
    width: 80%;
  }


  &__elements{
    display: flex;
    flex-direction: column;
  }

  &__form-title{
    color: #AFAFAF;
    font-size: 0.7rem;
  }

  &__name{
    padding-left: 1rem;
    height: 2.5rem;
    width: 100%;
    font-size: 0.8rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 1px;
    background-color: #fafafa;
  }

  &__comment{
    height: 7rem;
    width: 100%;
    font-size: 0.8rem;
    padding-bottom: 4.25rem;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border-style: solid;
    border-color: #e1e1e1;
    border-width: 1px;
    background-color: #fafafa;

  }

  &__button{
    width: 100%;
    height: 2.5rem;
    background-color: #323232;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    border-style: none;
    margin-bottom: 2rem;
  }
}

.comment-list{
  list-style: none;
  padding-left: 1rem;
  @include tablet {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  @include desktop {
    padding-right: 20rem;
    padding-left: 20em;
  }

  &__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: 0.15rem solid;
    border-color: #e1e1e1;
  }

  &__icon{
    width: 3rem;
    height: 3rem;
    background-color: #E1E1E1;
    border-radius: 50%;
    margin-right: 1.5rem;
    margin-top: 1rem;
  }

  &__name{
    color: #323232;
    font-weight: bolder;
    font-size: 1rem;
    word-break: break-all;
  }

  &__date{
    color: #AFAFAF;
    margin-left: auto;
    padding-right: 1rem;
  }

  &__text{
    color: #323232;
    font-weight: 300;
    padding-left: 4.5rem;
    padding-right: 1.5rem;
    margin-top: -0.5rem;
  }
}

