@import "../styles/partials/variables", "../styles/partials/fonts", "../styles/partials/mixins";

.nav {
    background-color: $bandsite-black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 0;
    @include tablet {
      flex-direction: row;
      justify-content: flex-start;
      padding-left: 2rem;
      height: 4rem;
    }
    @include desktop {
      padding-left: 7rem;
      height: 5.5rem;
      padding-top: 1rem;
    }
  
    &__logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include desktop {
        padding-bottom: 1.5rem;
      }
    }
  
    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;
      padding-left: 0;
      margin: 0;
      list-style: none;
      @include tablet {
        justify-content: flex-start;
        width: auto;
      }
    }
  
    &__links {
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      padding-bottom: 0.5rem;
      @include tablet {
        margin-left: 4rem;
        margin-top: 1.75rem;
      }
  
      &--active {
        border-bottom: 0.2rem solid #fff;
  
        @include tablet {
          border-bottom: 0.8rem solid #fff;
          padding-bottom: 1.5rem;
        }
  
        @include desktop {
          border-bottom: 0.9rem solid rgb(145, 75, 75);
          padding-bottom: 2rem;
        }
      }
  
      &--inactive {
        color: $silver;
        font-weight: normal;
        @include tablet {
          color: $silver;
        }
        @include desktop {
          color: $silver;
        }
      }
    }
  }

  .hero {
  background: url(../assets/images/hero-shows.jpg);
  background-position: center;
  background-size: cover;
  max-width: 100%;
  min-height: 23rem;
  position: relative;

  &__opacity {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &__text {
    padding: 1rem;
    color: white;
    font-weight: 600;
    position: relative;
  }

  &__soundcloud{
      position: relative;
      align-self: center;
      max-width: 95%;
      padding-bottom: 1.5rem;
      padding-left: 1rem;
  }
  }


  .shows{
    padding-left: 1rem;
    padding-right: 1rem;

    &__title{
      font-weight: 1000;
      font-size: 3rem;
    }

    &__dates{
      list-style: none;
      padding-left: 0;
    }

    &__list{
      border-bottom: 0.15rem solid;
      margin-right: 1rem;
      border-color: #e1e1e1;
    }


    &__date{
      font-size: 1.1rem;
      font-weight: bold;
      padding-bottom: 2rem;
    }

    &__venue{
      font-weight: 700;
      padding-bottom: 2rem;
    }

    &__location{
      font-weight: 700;
    }

    &__button{
      color: white;
      width: 100%;
      height: 3rem;
      background-color: $bandsite-black;
      border-radius: 0.3rem;
      border: none;
      font-weight: bold;
      font-size: 1rem;
      margin-bottom: 2rem;
    }
  }



  