* {
    box-sizing: border-box;
    border: 1px dashed grey;
}

body {
    margin: 0 auto;
    padding: 0;
    width: 320px;
    font-family: avenir_next;
}

h1, h2{
    font-size: 24px;
    font-family: avenir_next;
    font-weight: bold;
    margin: 0;
}

h3 {
    font-size: 14px;
    font-family: avenir_next;
    line-height: 1.375rem;
    font-weight: demi;
    margin: 0;
}

p {
    font-size: 13px;
    font-family: avenir_next;
    line-height: 1.125rem;
}

a {
    text-decoration: none;
    color: white;
}

/* a:hover {
    border-bottom: 0.2rem solid #fff;
}

a:active {
    border-bottom: 0.2rem solid #fff;
} */