* {
    box-sizing: border-box;
    /* border: 1px dashed grey; */
}

body {
    margin: 0 auto;
    padding: 0;
    /* width: 320px; */
    font-family: 'AvenirNext LT Pro';
}


a {
    color: white;
    text-decoration: none;
}

/* a:hover {
    border-bottom: 0.2rem solid #fff;
}

a:active {
    border-bottom: 0.2rem solid #fff;
} */